@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/blue";
@import "./fonts/roboto";

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content {
  display: flex;

  &-wrapper {
    padding: 20px;
    flex-grow: 1;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
  }
}

.app,
.app_modal {
  font: var(--font-m);
  color: var(--primary-color);
}
