.ArticleDetails {
  min-height: 100%;
}

.avatar {
  margin: 0 auto 20px;
}

.title {
  margin-bottom: 25px;
}

.skeleton:not(:last-child) {
  margin-bottom: 15px;
}

.articleInfo {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.block {
  margin-top: 16px;
}
