.modal {
  position: fixed;
  inset: 0;
  z-index: var(--modal-close-z-index);
  opacity: 0;
  transition: all .5s ease;
  pointer-events: none;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 60%);
}

.content {
  padding: 20px;
  border-radius: 12px;
  background: var(--bg-color);
  transition: .3s transform;
  transform: scale(0.5);
  max-width: 60%;
}

.open {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-open-z-index);

  .content {
    transform: scale(1);
  }
}

.close {
  .content {
    transform: scale(.2);
  }
}
