.app_blue_theme {
  --bg-color: #002570;
  --primary-color: #F4F6FB;
  --secondary-color: #0097a6;
  --bg-inverted-color: #F4F6FB;
  --primary-inverted-color: #002570;
  --secondary-inverted-color: #004147;
  --skeleton-shadow: #1d4ac0;
  --skeleton-color: #072886;
  --code-bg: rgb(96 96 166);
}
