.app_blue_theme {
  --bg-color: #002570;
  --primary-color: #F4F6FB;
  --secondary-color: #004147;

  --bg-inverted-color: #F4F6FB;
  --primary-inverted-color: #002570;
  --secondary-inverted-color: #004147;
}
