.app_dark_theme {
  --bg-color: #090949;
  --bg-inverted-color: #e8e8ea;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --primary-inverted-color: #0232c2;
  --secondary-inverted-color: #0452ff;
  --skeleton-shadow: #1d4ac0;
  --skeleton-color: #072886;
  --code-bg: #3d61d2;
  --article-card-bg: #114cb9
}
