.app.dark {
  --bg-color: #4444d3;
  --bg-inverted-color: #494c67;
  --primary-color: #44e044;
  --secondary-color: #187c18;
  --primary-inverted-color: #2d42c7;
  --secondary-inverted-color: #3d61d2;
}
