.app.light {
  --bg-color: #7a7a9f;
  --bg-inverted-color: #4444d3;
  --primary-color: #2d42c7;
  --secondary-color: #3d61d2;

  --primary-inverted-color: #44e044;
  --secondary-inverted-color: #187c18;
}
