.app_light_theme {
  --bg-color: #bfbfd5;
  --bg-inverted-color: #101064;
  --primary-color: #2d42c7;
  --secondary-color: #3d61d2;
  --primary-inverted-color: #44e044;
  --secondary-inverted-color: #187c18;
  --skeleton-shadow: #fff;
  --skeleton-color: rgba(0 0 0 / 20%);
}
